.faq-container {
  background-color: lightgray;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.question {
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: bold;
}

button {
  outline: none;
  border: none;
  background-color: lightgray;
  font-weight: bold;
  cursor: pointer;
}

.answer {
  color: darkblue;
  font-weight: bold;
}

.arrow {
  transform: rotate(180deg);
}
